.logo-deco {
    margin-bottom: 18px;
    height: 3px;
    background-repeat: repeat-x;
    margin: 14px 0 8px 0;
    background-position: 0 -1158px;
    background-image: url('https://sellercenter-static.jumia.com.eg/templates/default/images/iconset-s11d736e7cc.png')
}